@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    
    color: white;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.summary {
  margin-top: 20px;
}
.message {
  margin: 10px 10px 20px;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 14px;
  width: calc(100% - 20px);
  position: fixed;  /* Fixes the position relative to the viewport */
  bottom: 0;       /* Positions the element at the bottom */
  left: 0;         /* Aligns the element to the left */
  padding: 10px;   /* Padding around the content */
  text-align: center; /* Center the text */
  z-index: 1000;   /* Ensures the element is above other content */
}
.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.paid {
  color: green;
  font-weight: bold;
}
.unpaid {
  color: red;
  font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #0056b3;
    color: white;
    padding: 10, 10, 0;
  }
